<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>gadwords</name>
	<displayName><![CDATA[Google Adwords]]></displayName>
	<version><![CDATA[1.3]]></version>
	<description><![CDATA[Beneficiate from your promotional code &pound;75 free on Google AdWords to rank better on the search engine and attract new customers.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[advertising_marketing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>